build/*
dist/*
sqlitehandler.egg-info/top_level.txt

sqlitehandler.egg-info/PKG-INFO

sqlitehandler.egg-info/SOURCES.txt

sqlitehandler.egg-info/dependency_links.txt

sqlitehandler.egg-info/requires.txt
sqlitehandler.egg-info/*
